-# -*- coding: utf-8 -*-
%div#toolbox_spacer_top
%div#toolbox
  %p&= @page_title
  %p
    %a{:href => '/ybz/host/' + @hosts.sort.map(&:oid).join('-')} ラック内の全ホストを表示
  - csv_url = request.path_info + '.csv'
  %p
    出力：
    %a{:href => csv_url} CSVダウンロード
  %p 
    - if prev_rack
      %a{:href => "/ybz/rack/#{prev_rack.oid}"} 前のラック(#{prev_rack.label} <=)
    - if prev_rack and next_rack
      = '|'
    - if next_rack
      %a{:href => "/ybz/rack/#{next_rack.oid}"} (=> #{next_rack.label})次のラック
  %p#rack_density_box
    %label{:for => "rack_density_selector"} 表示
    %select#rack_density_selector
      %option{:value => "compact"} コンパクト
      %option{:value => "standard"} 標準
      %option{:value => "detail"} 詳細
%div#toolbox_spacer_bottom
%div#maincontents
  - if @racktype
    = haml @racktype.rack_display_template
  - else
    %div.mainviewboxouter
      %div.mainviewbox
        %h3 未対応のラック形式
        %p
          &= "#{@rack.label} に一致するラックタイププラグインがありません。簡易表示に切り替えています。"
        %table.maintable
          %tr
            %th.td_base ラック位置
            %th.td_base ホスト
            %th.td_base 状態
          - @rackunits_for_show.each do |ru|
            - hosts = ru.hosts.select{|h| h.status != Yabitz::Model::Host::STATUS_REMOVED}
            %tr
              %td.td_base&= ru.rackunit
              %td.td_base
                - if hosts.empty?
                  = '-'
                - else
                  - hosts.each do |host|
                    %div
                      %a{:href => "/ybz/host/#{host.oid}"}&= host.display_name
              %td.td_base&= hosts.map(&:status).uniq.join(', ')
